// Global reset and base styles
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  // Set default text color
  color: var(--we-color-ui-1000);
}
