.we-image-block {
  .we-image-block-actions {
    position: absolute;
    top: 4px;
    right: 4px;
    background: var(--we-color-neutral-0);
    border: 1px solid var(--we-color-neutral-100);
    border-radius: var(--we-radius-300);
    padding: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  }

  .we-image-block-actions-sep {
    width: 1px;
    height: 16px;
    background: var(--we-color-neutral-200);
    margin: 0 2px;
    align-self: center;
  }

  .we-image-block-input {
    padding: var(--we-space-300);
    border: 1px dashed var(--we-color-neutral-200);
    border-radius: var(--we-radius-300);
    background: var(--we-color-neutral-25);
  }
}
