[data-we-theme='dark'] {
  --we-color-primary-50: hsl(var(--we-color-primary-hue) var(--we-color-saturation) var(--we-color-lightness-50));
}

[data-we-theme='dark'] we-modal::part(base) {
  box-shadow: 0 0 40px 20px hsl(var(--we-color-primary-hue) var(--we-color-saturation) 20% / 5%);
}

[data-we-theme='dark'] we-text[variant='heading-md'] {
  color: var(--we-color-primary-700);
}
