/* ===== ELEMENTS OVERRIDES ===== */
[data-we-theme='black'] we-tooltip::part(tooltip) {
  background: var(--we-color-neutral-100);
  color: var(--we-color-black);
}

[data-we-theme='black'] we-menu-item::part(base) {
  margin-top: var(--we-space-100);
  margin-left: var(--we-space-400);
  margin-right: var(--we-space-400);
  border-radius: 6px;
}
